<!DOCTYPE html>
<html>
  <head>
    <title><%= coffeeName %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1><%= coffeeName %></h1>
    <p>Welcome to <%= textAboutCoffee %></p>
  </body>
</html>
